<!-- customer_form.html -->
{% extends 'stock/base.html' %}
{% block content %}
  <div class="container m-5">
    <h1 class="mb-4">{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} Client</h1>
    <form method="post">
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            {{ form.prenom.label_tag }}
            {{ form.prenom }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            {{ form.nom.label_tag }}
            {{ form.nom }}
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group">
            {{ form.addresse.label_tag }}
            {{ form.addresse }}
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            {{ form.phone.label_tag }}
            {{ form.phone }}
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            {{ form.point_fidelite.label_tag }}
            {{ form.point_fidelite }}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Enregistrer
      </button>
    </form>
  </div>
{% endblock %}
